<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.
    </p>
    <p>
        The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into NgModules.
    </p>

    <div class="follow text-center">
        <h3>Follow us </h3>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>

    </div>

</section>
