.joinnow
{
    background-color:white;
    padding: 140px 100px;
}
.login
{
    background-color: whitesmoke;
    padding: 20px 30px;
}
@media screen and (max-width:600px)
{
    .joinnow{
        padding: 140px 30px;
    }
}